* {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.navBar {
  display: flex;
  background-color: #1F2937;
  height: 60px;
  align-items: center;
  justify-content: end;
  padding: 10px;
  
}

a.link, .headlogo {
  color: white;
  list-style-type: none;
  gap: 30px;
}

Head.headlogo {
  margin-right: auto;
  font-weight: 900;
  font-size: 25px;
  
  
}

.headerCont {
  padding: 40px;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.descCont h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
  margin: 10px;
}

.descCont h3 {
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px;
  
}

img { 
  border-radius: 5px;
  height: 400px
}

.signUpButton {
  padding: 5px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #3882F6;
  color: white;
  margin-left: 8px
}

