* {
  border: 2px solid brown;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: #1F2937;
  height: 40px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  padding: 20px 200px;
  gap: 40px
}

a.link, 
#HeadLogo {
  color: white;
  text-decoration: none;
   
}

#HeadLogo {
  display: flex;
  flex-direction: row;
  margin-right: 900px;
  font-weight: 900;
  font-size: 25px; 
}

.headerCont {
  padding: 10px 200px;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descCont h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
  margin: 10px;
}

.descCont h3 {
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px; 
}

img { 
  border-radius: 5px;
  height: 400px
}

.signUpButton {
  padding: 5px 30px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #3882F6;
  color: white;
  margin-left: 8px
}

h2 {
  color: #1F2937;
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
}

.contArt {
  padding: 50px 200px;
  align-items: center;
  padding-top: 10px;
}

.imageCont {
  gap: 20px;
  display: flex;
  padding: 30px;
  align-items: center;
  text-align: center;
  justify-self: center;
}

div .image {
  align-items: center;
  padding: 20px;
  border: 2px solid blue;
  border-radius: 20px;
  border-width: 5px;
  height: 180px;
  width: 180px;
}

