* {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: #1F2937;
  height: 40px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  padding: 20px 200px;
  gap: 40px
}

a.link, 
#HeadLogo {
  color: white;
  text-decoration: none;
  white-space: nowrap;
   
}

#HeadLogo {
  display: flex;
  flex-direction: row;
  margin-right: 760px;
  font-weight: 900;
  font-size: 25px; 
}

.headerCont {
  
  padding: 90px 200px;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descCont h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
  margin: 10px;
}

.descCont h3 {
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px; 
}

img { 
  border-radius: 5px;
  height: 400px
}

.signUpButton {
  padding: 5px 30px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #3882F6;
  color: white;
  margin-left: 8px
}

h2 {
  color: #1F2937;
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
}

.contArt {
  padding: 50px 200px;
  align-items: center;
  
}

.imageCont {
  gap: 20px;
  display: flex;
  padding: 30px;
  align-items: center;
  text-align: center;
  justify-self: center;
}

div .image {
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center;
  padding: 20px;
  border: 2px solid blue;
  border-radius: 20px;
  border-width: 5px;
  height: 180px;
  width: 180px;
}

article > h2 {
  font-weight: 1000;
}

.quoteCont {
  font-size: 36px;
  padding: 200px 350px;
  gap: 15px;
  background-color: #E5E7EB;
}

.author {
  float: right;
}

.bottomCont {
  color: white;
  background-color: #3882F6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 40px;
  padding: 30px 80px;
  width: 800px;
  gap: 50px;
}

.bottomSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px 150px;
  white-space: nowrap;
}

footer {
  padding: 40px 300px;
  background-color: #1F2937;
  color: white;
  text-align: center;
}

